@{
    ViewBag.Title = "SessionManagementCreate";
}

<link rel="stylesheet" href="~/Content/css/main.css">
<link rel="stylesheet" href="~/Content/css/bootstrap.css">
<br><br><br>
<div class="col-md-12"></div>
<div class="col-md-2 ">
    <h2 class="text-center pequeno">Deadpool</h2>
    <img src="~/Content/imgs/Deadpool.jpg" style="width:200px" class="float-left ">
</div>

<div class="-col-md-10">
    <ul class="no-lista">
        <li>
            <strong>Titulo Original:</strong> Deadpool
        </li>
        <li>
            <strong> Año:</strong> 2016
        </li>
        <li>
            <strong>Duración:</strong>  1h 48m
        </li>
        <li>
            <strong>Pais:</strong> Estados Unidos
        </li>
        <li>
            <strong>Genero:</strong>  Acción, Superhéroes, Ciencia ficción, Comedia
        </li>
        <li>
            <strong>Clasificación:</strong>  +18
        </li>
        <li>
            <strong>Directores:</strong>	Tim Miller
        </li>
        <li>
            <strong>Interpretes:</strong> Ryan Reynolds, Morena Baccarin, Ed Skrein, Gina Carano, T. J. Miller
        </li>
        <li>
            <strong>Sipnosis:</strong> <p></p>En Deadpool, después de ser sometido a un experimento que deja a Wade Wilson con nuevas habilidades y con un retorcido sentido del humor, Wilson persigue al hombre que casi destruyó su vida.
        </li>
    </ul>

</div>
<br><br><br><br><br><br><br><br><br><br><br><br><br><br>

<div class="col-md-12"></div>
<div class="col-md-2 ">
    <h2 class="text-center pequeno">Capitan America: Civil War</h2>
    <img src="~/Content/imgs/CACW.jpg" style="width:200px" class="float-left padding-largo">
</div>
<div class="col-md-10">
    <ul class="no-lista">
        <li>
            <strong>Titulo Original:</strong> Capitan America: Civil War
        </li>
        <li>
            <strong> Año:</strong> 2016
        </li>
        <li>
            <strong>Duración:</strong>  2h 27m
        </li>
        <li>
            <strong>Pais:</strong> Estados Unidos
        </li>
        <li>
            <strong>Genero:</strong>  Acción, Superhéroes, Ciencia ficción, Thriller
        </li>
        <li>
            <strong>Clasificación:</strong>  PG-13
        </li>
        <li>
            <strong>Directores:</strong>	Hermanos Russo
        </li>
        <li>
            <strong>Interpretes:</strong> Chris Evans, Robert Downey Jr., Scarlett Johansson, Sebastian Stan, Anthony Mackie, Emily VanCamp
        </li>
        <li>
            <strong>Sipnosis:</strong><p> Capitán América: Civil War' sigue a Steve Rogers liderando al nuevo equipo de Vengadores en sus continúos esfuerzos para mantener a salvo a la humanidad. Pero después de los daños colaterales de otro incidente en el que el grupo de superhéroes está involucrado, la presión política instala un sistema de responsabilidad encabezado por el Gobierno para supervisar y dirigir al equipo. El nuevo ‘status quo’ provoca la ruptura de los Vengadores y da como resultado dos bandos -uno liderado por Steve Rogers y su deseo de que los superhéroes sigan siendo libres para defender a la humanidad sin la intromisión del Gobierno y otro liderado por Tony Stark que decide apoyar la decisión de la clase dirigente.</p>
        </li>
    </ul>

</div>
<br><br><br><br><br><br><br>
<div class="col-md-12"></div>
<div class="col-md-2">
    <h2 class="text-center pequeno">Star Wars: El despertar de la Fuerza</h2>
    <img src="~/Content/imgs/StarWar.jpg" style="width:200px" class="float-left padding-largo">
</div>
<div class="col-md-10">
    <article>
        <ul class="no-lista">
            <li>
                <strong>Titulo Original:</strong> Star Wars: The Force Awakens
            </li>
            <li>
                <strong> Año:</strong> 2015
            </li>
            <li>
                <strong>Duración:</strong>  2h 15m
            </li>
            <li>
                <strong>Pais:</strong> Estados Unidos
            </li>
            <li>
                <strong>Genero:</strong> Space opera, Épico
            </li>
            <li>
                <strong>Clasificación:</strong>  PG-13
            </li>
            <li>
                <strong>Directores:</strong>	J. J. Abrams
            </li>
            <li>
                <strong>Interpretes:</strong> Harrison Ford, Mark Hamill, Carrie Fisher, Adam Driver, Daisy Ridley, John Boyega, Oscar Isaac
            </li>
            <li>
                <strong>Sipnosis:</strong> <p>Han pasado más de treinta años desde la caída del Imperio Galáctico, derrotado por la Alianza Rebelde. Luke Skywalker ha desaparecido, pero existe un mapa que revela dónde se encuentra el último guerrero Jedi con vida. Muchos de los héroes de antes, Leia, Han Solo, Chewbacca, R2-D2 y C-3PO, todavía están activos y luchan en la resistencia. Y es que la tiranía y la opresión no han acabado en la galaxia, que todavía se encuentra en guerra. Una Nueva República ha surgido, aunque su gobierno es frágil, un mero títere. Aprovechando la inestabilidad del sistema político y las diferencias de las diversas corrientes republicanas, un misterioso guerrero, Kylo Ren, obsesionado con acabar con los Jedi, amenaza la paz galáctica. </p>
            </li>
        </ul>
    </article>
</div>