
@{
    ViewBag.Title = "Inicio";
    Layout = "~/Views/MasterPage/Master.cshtml";
}

<section id="portafolio" style="background-color: rgb(0,0,0)">
    <div class="container">
        <h1 style="text-align: center; padding-bottom: 40px; color: white; font-size: 36px" class="col-xs-12"><b>Inicio</b></h1>
        <div class="col-md-3 col-sm-3 row" style="background-color: #fed136;">
            <h1 id="subtitle" style="text-align: center; color: black; padding: 390px 0;"><b>Películas Más Vistas</b></h1>
        </div>
        <div class="col-md-1 col-sm-1"></div>
        <div class="col-md-8 col-sm-8 row" id="peliculas">
            <div id="cont-peliculas" class="row">
                <ul>
                    <li class="col-md-4 col-sm-6 col-xs-12"><a href="#"><img class="img-responsive li-pelicula" src="~/Content/Im%c3%a1genes/Im%c3%a1genes%20de%20pel%c3%adculas/3110.jpg" width="220"></a></li>
                    <li class="col-md-4 col-sm-6 col-xs-12"><a href="#"><img class="img-responsive li-pelicula" src="~/Content/Im%c3%a1genes/Im%c3%a1genes%20de%20pel%c3%adculas/El_bosque_de_los_suicidios-2016.jpg" width="220"></a></li>
                    <li class="col-md-4 col-sm-6 col-xs-12"><a href="#"><img class="img-responsive li-pelicula" src="~/Content/Im%c3%a1genes/Im%c3%a1genes%20de%20pel%c3%adculas/lISBWF6UUF3cQPcoLE8pMxnyJty.jpg" width="220"></a></li>
                    <li class="col-md-4 col-sm-6 col-xs-12"><a href="#"><img class="img-responsive li-pelicula" src="~/Content/Im%c3%a1genes/Im%c3%a1genes%20de%20pel%c3%adculas/maxresdefault-2.jpg" width="220"></a></li>
                    <li class="col-md-4 col-sm-6 col-xs-12"><a href="#"><img class="img-responsive li-pelicula" src="~/Content/Im%c3%a1genes/Im%c3%a1genes%20de%20pel%c3%adculas/rUDQKHrRrjUfRoyiYII9gVOVlRZ.jpg" width="220"></a></li>
                    <li class="col-md-4 col-sm-6 col-xs-12"><a href="#"><img class="img-responsive li-pelicula" src="~/Content/Im%c3%a1genes/Im%c3%a1genes%20de%20pel%c3%adculas/Super_8-421797032-large.jpg" width="220"></a></li>
                    <li class="col-md-4 col-sm-6 col-xs-12"><a href="#"><img class="img-responsive li-pelicula" src="~/Content/Im%c3%a1genes/Im%c3%a1genes%20de%20pel%c3%adculas/The_5th_Wave_poster_espa%c3%b1ol.jpg" width="220"></a></li>
                    <li class="col-md-4 col-sm-6 col-xs-12"><a href="#"><img class="img-responsive li-pelicula" src="~/Content/Im%c3%a1genes/Im%c3%a1genes%20de%20pel%c3%adculas/X_Men%20Apocalipsis%202016.jpg" width="220"></a></li>
                    <li class="col-md-4 col-sm-6 col-xs-12"><a href="#"><img class="img-responsive li-pelicula" src="~/Content/Im%c3%a1genes/Im%c3%a1genes%20de%20pel%c3%adculas/X_Men%20Apocalipsis%202016.jpg" width="220"></a></li>
                </ul>
            </div>
        </div>
    </div>
</section>

