
@{
    ViewBag.Title = "MovieList";
    Layout = "~/Views/MasterPage/Master.cshtml";
}
<!--
    
                    <li class="col-md-4 col-sm-6 col-xs-12"><a href="#"><img class="img-responsive li-pelicula" src="~/Content/Im%c3%a1genes/Im%c3%a1genes%20de%20pel%c3%adculas/3110.jpg" width="220"></a></li>
                    <li class="col-md-4 col-sm-6 col-xs-12"><a href="#"><img class="img-responsive li-pelicula" src="~/Content/Im%c3%a1genes/Im%c3%a1genes%20de%20pel%c3%adculas/El_bosque_de_los_suicidios-2016.jpg" width="220"></a></li>
                    <li class="col-md-4 col-sm-6 col-xs-12"><a href="#"><img class="img-responsive li-pelicula" src="~/Content/Im%c3%a1genes/Im%c3%a1genes%20de%20pel%c3%adculas/lISBWF6UUF3cQPcoLE8pMxnyJty.jpg" width="220"></a></li>
                    <li class="col-md-4 col-sm-6 col-xs-12"><a href="#"><img class="img-responsive li-pelicula" src="~/Content/Im%c3%a1genes/Im%c3%a1genes%20de%20pel%c3%adculas/maxresdefault-2.jpg" width="220"></a></li>
                    <li class="col-md-4 col-sm-6 col-xs-12"><a href="#"><img class="img-responsive li-pelicula" src="~/Content/Im%c3%a1genes/Im%c3%a1genes%20de%20pel%c3%adculas/rUDQKHrRrjUfRoyiYII9gVOVlRZ.jpg" width="220"></a></li>
                    <li class="col-md-4 col-sm-6 col-xs-12"><a href="#"><img class="img-responsive li-pelicula" src="~/Content/Im%c3%a1genes/Im%c3%a1genes%20de%20pel%c3%adculas/Super_8-421797032-large.jpg" width="220"></a></li>
                    <li class="col-md-4 col-sm-6 col-xs-12"><a href="#"><img class="img-responsive li-pelicula" src="~/Content/Im%c3%a1genes/Im%c3%a1genes%20de%20pel%c3%adculas/The_5th_Wave_poster_espa%c3%b1ol.jpg" width="220"></a></li>
                    <li class="col-md-4 col-sm-6 col-xs-12"><a href="#"><img class="img-responsive li-pelicula" srcw" width="220"></a></li>
                    <li class="col-md-4 col-sm-6 col-xs-12"><a href="#"><img class="img-responsive li-pelicula" src="~/Content/Im%c3%a1genes/Im%c3%a1genes%20de%20pel%c3%adculas/X_Men%20Apocalipsis%202016.jpg" width="220"></a></li>
                

-->
<section id="movie-list" style=" background-color:#AFFFFA">
    <div class="container">
        <h1 style="text-align: center; padding-bottom: 40px" class="col-xs-12"><b>Películas</b></h1>
        <div class="row">
            <div class="col-md-12">
                <div class="carousel slide multi-item-carousel" id="theCarousel">
                    <div class="carousel-inner">
                        <div class="item active">
                            <div class="col-xs-4"><a href="#1"><img src="~/Content/Im%c3%a1genes/Im%c3%a1genes%20de%20pel%c3%adculas/3110.jpg" width="300" height="300"class="img-responsive"></a></div>
                            <div class="col-xs-4"><a href="#1"><img src="~/Content/Im%c3%a1genes/Im%c3%a1genes%20de%20pel%c3%adculas/El_bosque_de_los_suicidios-2016.jpg" width="300" height="300" class="img-responsive"></a></div>
                            <div class="col-xs-4"><a href="#1"><img src="~/Content/Im%c3%a1genes/Im%c3%a1genes%20de%20pel%c3%adculas/lISBWF6UUF3cQPcoLE8pMxnyJty.jpg" width="300" height="300" class="img-responsive"></a></div>
                            <div class="col-xs-4"><h3 style="color: black; text-align: center; padding-bottom: 35px">Título-Sinopsis</h3></div>
                            <div class="col-xs-4"><h3 style="color: black; text-align: center; padding-bottom: 35px">Título-Sinopsis</h3></div>
                            <div class="col-xs-4"><h3 style="color: black; text-align: center; padding-bottom: 35px">Título-Sinopsis</h3></div>
                            <div class="col-xs-4"><a href="#1"><img src="~/Content/Im%c3%a1genes/Im%c3%a1genes%20de%20pel%c3%adculas/maxresdefault-2.jpg" width="300" height="300" class="img-responsive"></a></div>
                            <div class="col-xs-4"><a href="#1"><img src="~/Content/Im%c3%a1genes/Im%c3%a1genes%20de%20pel%c3%adculas/rUDQKHrRrjUfRoyiYII9gVOVlRZ.jpg" width="300" height="300" class="img-responsive"></a></div>
                            <div class="col-xs-4"><a href="#1"><img src="~/Content/Im%c3%a1genes/Im%c3%a1genes%20de%20pel%c3%adculas/Super_8-421797032-large.jpg" width="300" height="300" class="img-responsive"></a></div>
                            <div class="col-xs-4"><h3 style="color: black; text-align: center; padding-bottom: 35px">Título-Sinopsis</h3></div>
                            <div class="col-xs-4"><h3 style="color: black; text-align: center; padding-bottom: 35px">Título-Sinopsis</h3></div>
                            <div class="col-xs-4"><h3 style="color: black; text-align: center; padding-bottom: 35px">Título-Sinopsis</h3></div>
                        </div>
                        <div class="item">
                            <div class="col-xs-4"><a href="#1"><img src="~/Content/Im%c3%a1genes/Im%c3%a1genes%20de%20pel%c3%adculas/3110.jpg" width="300" height="300" class="img-responsive"></a></div>
                            <div class="col-xs-4"><a href="#1"><img src="~/Content/Im%c3%a1genes/Im%c3%a1genes%20de%20pel%c3%adculas/El_bosque_de_los_suicidios-2016.jpg" width="300" height="300" class="img-responsive"></a></div>
                            <div class="col-xs-4"><a href="#1"><img src="~/Content/Im%c3%a1genes/Im%c3%a1genes%20de%20pel%c3%adculas/lISBWF6UUF3cQPcoLE8pMxnyJty.jpg" width="300" height="300" class="img-responsive"></a></div>
                            <div class="col-xs-4"><h3 style="color: black; text-align: center; padding-bottom: 35px">Título-Sinopsis</h3></div>
                            <div class="col-xs-4"><h3 style="color: black; text-align: center; padding-bottom: 35px">Título-Sinopsis</h3></div>
                            <div class="col-xs-4"><h3 style="color: black; text-align: center; padding-bottom: 35px">Título-Sinopsis</h3></div>
                            <div class="col-xs-4"><a href="#1"><img src="~/Content/Im%c3%a1genes/Im%c3%a1genes%20de%20pel%c3%adculas/maxresdefault-2.jpg" width="300" height="300" class="img-responsive"></a></div>
                            <div class="col-xs-4"><a href="#1"><img src="~/Content/Im%c3%a1genes/Im%c3%a1genes%20de%20pel%c3%adculas/rUDQKHrRrjUfRoyiYII9gVOVlRZ.jpg" width="300" height="300" class="img-responsive"></a></div>
                            <div class="col-xs-4"><a href="#1"><img src="~/Content/Im%c3%a1genes/Im%c3%a1genes%20de%20pel%c3%adculas/Super_8-421797032-large.jpg" width="300" height="300" class="img-responsive"></a></div>
                            <div class="col-xs-4"><h3 style="color: black; text-align: center; padding-bottom: 35px">Título-Sinopsis</h3></div>
                            <div class="col-xs-4"><h3 style="color: black; text-align: center; padding-bottom: 35px">Título-Sinopsis</h3></div>
                            <div class="col-xs-4"><h3 style="color: black; text-align: center; padding-bottom: 35px">Título-Sinopsis</h3></div>
                        </div>
                        <div class="item">
                            <div class="col-xs-4"><a href="#1"><img src="~/Content/Im%c3%a1genes/Im%c3%a1genes%20de%20pel%c3%adculas/3110.jpg" width="300" height="300" class="img-responsive"></a></div>
                            <div class="col-xs-4"><a href="#1"><img src="~/Content/Im%c3%a1genes/Im%c3%a1genes%20de%20pel%c3%adculas/El_bosque_de_los_suicidios-2016.jpg" width="300" height="300" class="img-responsive"></a></div>
                            <div class="col-xs-4"><a href="#1"><img src="~/Content/Im%c3%a1genes/Im%c3%a1genes%20de%20pel%c3%adculas/lISBWF6UUF3cQPcoLE8pMxnyJty.jpg" width="300" height="300" class="img-responsive"></a></div>
                            <div class="col-xs-4"><h3 style="color: black; text-align: center; padding-bottom: 35px">Título-Sinopsis</h3></div>
                            <div class="col-xs-4"><h3 style="color: black; text-align: center; padding-bottom: 35px">Título-Sinopsis</h3></div>
                            <div class="col-xs-4"><h3 style="color: black; text-align: center; padding-bottom: 35px">Título-Sinopsis</h3></div>
                            <div class="col-xs-4"><a href="#1"><img src="~/Content/Im%c3%a1genes/Im%c3%a1genes%20de%20pel%c3%adculas/maxresdefault-2.jpg" width="300" height="300" class="img-responsive"></a></div>
                            <div class="col-xs-4"><a href="#1"><img src="~/Content/Im%c3%a1genes/Im%c3%a1genes%20de%20pel%c3%adculas/rUDQKHrRrjUfRoyiYII9gVOVlRZ.jpg" width="300" height="300" class="img-responsive"></a></div>
                            <div class="col-xs-4"><a href="#1"><img src="~/Content/Im%c3%a1genes/Im%c3%a1genes%20de%20pel%c3%adculas/Super_8-421797032-large.jpg" width="300" height="300" class="img-responsive"></a></div>
                            <div class="col-xs-4"><h3 style="color: black; text-align: center; padding-bottom: 35px">Título-Sinopsis</h3></div>
                            <div class="col-xs-4"><h3 style="color: black; text-align: center; padding-bottom: 35px">Título-Sinopsis</h3></div>
                            <div class="col-xs-4"><h3 style="color: black; text-align: center; padding-bottom: 35px">Título-Sinopsis</h3></div>
                        </div>
                    </div>
                    <a class="left carousel-control" href="#theCarousel" data-slide="prev"><i class="glyphicon glyphicon-chevron-left"></i></a>
                    <a class="right carousel-control" href="#theCarousel" data-slide="next"><i class="glyphicon glyphicon-chevron-right"></i></a>
                </div>
            </div>
        </div>
    </div>
</section>

