
@{
    ViewBag.Title = "RoomManagementViewMode";
}

<link rel="stylesheet" href="~/Content/css/main.css">
<link rel="stylesheet" href="~/Content/css/bootstrap.css">
<script src="~/Content/js/jquery-2.1.1.min.js"></script>
<script src="~/Content/js/bootstrap.js"></script>

<br><br><br>
<div>
    <h2 class="text-center">Lista de Salas</h2>
</div>

<section class="text-center">
    <div class="col-md-3 col-sm-4 inline-block">
        <article>
            <ul class="no-lista">
                <li>
                    Sala 1
                </li>
                <li>
                    Palacio del Cine
                </li>
            </ul>
        </article>
        <br><br><br>
        <article>
            <ul class="no-lista">
                <li>
                    Sala 2
                </li>
                <li>
                    Palacio del Cine
                </li>
            </ul>
        </article>
    </div>
    <div class="col-md-3 col-sm-4 inline-block">
        <article>
            <ul class="no-lista">
                <li>
                    Sala 3
                </li>
                <li>
                    Palacio del Cine
                </li>
            </ul>
        </article>
        <br><br><br>
        <article>
            <ul class="no-lista">
                <li>
                    Sala 4
                </li>
                <li>
                    Palacio del Cine
                </li>
            </ul>
        </article>
    </div>
    <div class="col-md-3 col-sm-4 inline-block">
        <article>
            <ul class="no-lista">
                <li>
                    Sala 5
                </li>
                <li>
                    Palacio del Cine
                </li>
            </ul>
        </article>
        <br><br><br>
        <article>
            <ul class="no-lista">
                <li>
                    Sala 6
                </li>
                <li>
                    Palacio del Cine
                </li>
            </ul>
        </article>
    </div>
</section>
