
@{
    ViewBag.Title = "SessionManagementCreate";
}
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="css/main.css">
    <link rel="stylesheet" href="cssbootstrap/bootstrap.css">
    <title>Modo Ver Sesiones</title>
</head>
<body>
    <br><br><br><br><br>
    <section class="text-center">
        <div class="col-md-3 col-sm-4 inline-block">
            <article>
                <ul class="no-lista">
                    <li>
                        <strong>Fecha:</strong> Deadpool
                    </li>
                    <li>
                        <strong>Hora:</strong> 2016
                    </li>
                    <li>
                        <strong>Sala:</strong>  1h 48m
                    </li>
                    <li>
                        <strong>Pelicula:</strong> Estados Unidos
                    </li>
                    <li>
                        <strong>Precio:</strong>  RD$ 250
                    </li>
                    <li>
                        <strong>Numerada:</strong>  True
                    </li>
            </article>
            <br><br><br>
            <article>
                <ul class="no-lista">
                    <li>
                        <strong>Fecha:</strong> Deadpool
                    </li>
                    <li>
                        <strong>Hora:</strong> 2016
                    </li>
                    <li>
                        <strong>Sala:</strong>  1h 48m
                    </li>
                    <li>
                        <strong>Pelicula:</strong> Estados Unidos
                    </li>
                    <li>
                        <strong>Precio:</strong>  RD$ 250
                    </li>
                    <li>
                        <strong>Numerada:</strong>  True
                    </li>
            </article>
        </div>
        <div class="col-md-3 col-sm-4 inline-block vete-arriba">
            <article>
                <ul class="no-lista">
                    <li>
                        <strong>Fecha:</strong> Deadpool
                    </li>
                    <li>
                        <strong>Hora:</strong> 2016
                    </li>
                    <li>
                        <strong>Sala:</strong>  1h 48m
                    </li>
                    <li>
                        <strong>Pelicula:</strong> Estados Unidos
                    </li>
                    <li>
                        <strong>Precio:</strong>  RD$ 250
                    </li>
                    <li>
                        <strong>Numerada:</strong>  True
                    </li>
            </article>
            <br><br><br>
            <article>
                <ul class="no-lista">
                    <li>
                        <strong>Fecha:</strong> Deadpool
                    </li>
                    <li>
                        <strong>Hora:</strong> 2016
                    </li>
                    <li>
                        <strong>Sala:</strong>  1h 48m
                    </li>
                    <li>
                        <strong>Pelicula:</strong> Estados Unidos
                    </li>
                    <li>
                        <strong>Precio:</strong>  RD$ 250
                    </li>
                    <li>
                        <strong>Numerada:</strong>  True
                    </li>
            </article>
        </div>
        <div class="col-md-3 col-sm-4 inline-block">
            <article>
                <ul class="no-lista">
                    <li>
                        <strong>Fecha:</strong> Deadpool
                    </li>
                    <li>
                        <strong>Hora:</strong> 2016
                    </li>
                    <li>
                        <strong>Sala:</strong>  1h 48m
                    </li>
                    <li>
                        <strong>Pelicula:</strong> Estados Unidos
                    </li>
                    <li>
                        <strong>Precio:</strong>  RD$ 250
                    </li>
                    <li>
                        <strong>Numerada:</strong>  True
                    </li>
            </article>
            <br><br><br>
            <article>
                <ul class="no-lista">
                    <li>
                        <strong>Fecha:</strong> Deadpool
                    </li>
                    <li>
                        <strong>Hora:</strong> 2016
                    </li>
                    <li>
                        <strong>Sala:</strong>  1h 48m
                    </li>
                    <li>
                        <strong>Pelicula:</strong> Estados Unidos
                    </li>
                    <li>
                        <strong>Precio:</strong>  RD$ 250
                    </li>
                    <li>
                        <strong>Numerada:</strong>  True
                    </li>
            </article>
        </div>
    </section>

</body>
</html>