
@{
    ViewBag.Title = "TarjetaPage";
    Layout = "~/Views/MasterPage/Master.cshtml";
}

<table class="table table-bordered">
    <thead>
        <tr>
            <th>Cine:</th>
            <th>Pleícula:</th>
            <th>Fecha:</th>
            <th>Hora:</th>
            <th>Número de entradas:</th>
            <th>Fila:</th>
            <th>Butacas:</th>
            <th>Precio:</th>
            <th>Gastos por sevicos de butacas:</th>
            <th>Importe de los productos:</th>
            <th>Total a pagar impuestos incluidos:</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>Acropolis Center</td>
            <td>The boy</td>
            <td>16:30</td>
            <td>2</td>
            <td>4</td>
            <td>90
            <td>
            <td>12,11</td>
            <td>Precio</td>
            <td>Precio</td>
            <td>Precio</td>
            <td>Precio</td>
            <td>Precio</td>
            <td>Precio</td>
        </tr>
    </tbody>
</table>
<div style="background: rgb(200,200,200)">
    <h2 style="text-align: center;">Reglas de términos y condiciones</h2>
    <p style="text-align: center">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Alias consequuntur laudantium, itaque sit quo libero numquam rerum eum dolorem vero, voluptatem modi quas quasi minus error consectetur, architecto animi ratione!</p>
</div>

<form action="#" class="credit-card-div">
    <div class="panel panel-default">
        <div class="panel-heading">

            <div class="row ">
                <div class="col-md-12">
                    <input type="text" class="form-control" placeholder="Enter Card Number" />
                </div>
            </div>
            <div class="row ">
                <div class="col-md-3 col-sm-3 col-xs-3">
                    <span class="help-block text-muted small-font"> Expiry Month</span>
                    <input type="text" class="form-control" placeholder="MM" />
                </div>
                <div class="col-md-3 col-sm-3 col-xs-3">
                    <span class="help-block text-muted small-font">  Expiry Year</span>
                    <input type="text" class="form-control" placeholder="YY" />
                </div>
                <div class="col-md-3 col-sm-3 col-xs-3">
                    <span class="help-block text-muted small-font">  CCV</span>
                    <input type="text" class="form-control" placeholder="CCV" />
                </div>
                <div class="col-md-3 col-sm-3 col-xs-3">
                    <img src="assets/img/1.png" class="img-rounded" />
                </div>
            </div>
            <div class="row ">
                <div class="col-md-12 pad-adjust">

                    <input type="text" class="form-control" placeholder="Name On The Card" />
                </div>
            </div>
            <div class="row">
                <div class="col-md-12 pad-adjust">
                    <div class="checkbox">
                        <label>
                            <input type="checkbox" checked class="text-muted"> Save details for fast payments <a href="#"> learn how ?</a>
                        </label>
                    </div>
                </div>
            </div>
            <div class="row ">
                <div class="col-md-6 col-sm-6 col-xs-6 pad-adjust">
                    <input type="submit" class="btn btn-danger" value="CANCEL" />
                </div>
                <div class="col-md-6 col-sm-6 col-xs-6 pad-adjust">
                    <input type="submit" class="btn btn-warning btn-block" value="PAY NOW" />
                </div>
            </div>

        </div>
    </div>
</form>